<p id="notice"><%= notice %></p>

<p>
  <strong>Registry:</strong>
  <%= @statistics_record.registry_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @statistics_record.country_id %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @statistics_record.data_type %>
</p>

<p>
  <strong>Start addr:</strong>
  <%= @statistics_record.start_addr %>
</p>

<p>
  <strong>End addr:</strong>
  <%= @statistics_record.end_addr %>
</p>

<p>
  <strong>Value:</strong>
  <%= @statistics_record.value %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @statistics_record.prefix %>
</p>

<p>
  <strong>Date:</strong>
  <%= @statistics_record.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @statistics_record.status %>
</p>

<p>
  <strong>Extensions:</strong>
  <%= @statistics_record.extensions %>
</p>

<p>
  <strong>Start addr dec:</strong>
  <%= @statistics_record.start_addr_dec %>
</p>

<p>
  <strong>End addr dec:</strong>
  <%= @statistics_record.end_addr_dec %>
</p>

<%= link_to 'Edit', edit_statistics_record_path(@statistics_record) %> |
<%= link_to 'Back', statistics_records_path %>
