<%= form_for(@apnic_version) do |f| %>
  <% if @apnic_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apnic_version.errors.count, "error") %> prohibited this apnic_version from being saved:</h2>

      <ul>
      <% @apnic_version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :registry %><br />
    <%= f.text_field :registry %>
  </div>
  <div class="field">
    <%= f.label :serial %><br />
    <%= f.number_field :serial %>
  </div>
  <div class="field">
    <%= f.label :records %><br />
    <%= f.number_field :records %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.text_field :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br />
    <%= f.text_field :enddate %>
  </div>
  <div class="field">
    <%= f.label :UTCoffset %><br />
    <%= f.text_field :UTCoffset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
