<p id="notice"><%= notice %></p>

<p>
  <b>Registry:</b>
  <%= @apnic_record.registry %>
</p>

<p>
  <b>Cc:</b>
  <%= @apnic_record.cc %>
</p>

<p>
  <b>Type:</b>
  <%= @apnic_record.type %>
</p>

<p>
  <b>Start:</b>
  <%= @apnic_record.start %>
</p>

<p>
  <b>Value:</b>
  <%= @apnic_record.value %>
</p>

<p>
  <b>Date:</b>
  <%= @apnic_record.date %>
</p>

<p>
  <b>Status:</b>
  <%= @apnic_record.status %>
</p>

<p>
  <b>Extensions:</b>
  <%= @apnic_record.extensions %>
</p>


<%= link_to 'Edit', edit_apnic_record_path(@apnic_record) %> |
<%= link_to 'Back', apnic_records_path %>
