<section id="info">
  <dl>
    <dt>Data Status:</dt>
    <dd>Version: <%= @versions.version %></dd>
    <dd>Serial: <%= @versions.serial %></dd>
    <dd>Update: <%= @versions.enddate %></dd>
  </dl>

  <dl>
    <dt>Include Data Count:</dt>
    <% @summaries.each do |sum| %>
    <dd><%= sum.data_type %>: <%= sum.count %></dd>
    <% end %>
  </dl>
</section>

<section id="search">
  <%= form_for(@records, :url => {:controller => 'apnic_records', :action => 'index.json'}, :html => {:class => 'search_apnic_record', :id => 'search_apnic_record'}, :remote => true) do |f| %>
  <label>IP Address: <%= f.text_field :start %></label>
  <%= f.submit "Search" %>
  <% end %>
</section>

<section id="data">
</section>
