<section id="info">
  <dl>
    <dt>Data Status:</dt>
    <dd>Version: <%= @versions.version %></dd>
    <dd>Serial: <%= @versions.serial %></dd>
    <dd>Update: <%= @versions.enddate %></dd>
  </dl>

  <dl>
    <dt>Include Data Count:</dt>
    <% @summaries.each do |sum| %>
    <dd><%= sum.data_type %>: <%= sum.count %></dd>
    <% end %>
  </dl>
</section>

<section id="search">
  <%= form_for(@records, :url => {:controller => 'statistics_records', :action => 'index.json'}, :html => {:class => 'search_statistics_record', :id => 'search_statistics_record'}, :remote => true) do |f| %>
  <label>Keyword: <%= f.text_field :start %></label>
  <%= f.submit "Search" %>
  <% end %>
</section>

<section id="ads">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6399662930969394";
/* default@ipl.xay.jp */
google_ad_slot = "5341249934";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</section>

<section id="data">
</section>
