<section id="info">
  <% @versions.each_with_index do |ver, i| %>
  <dl>
    <dt><%= ver.registry.registry.upcase %><br />Data Status:</dt>
    <dd>Version: <%= ver.version %></dd>
    <dd>Serial: <%= ver.serial %></dd>
    <dd>Update: <%= ver.enddate %></dd>
  </dl>
  <% end %>
<% if false %>
  <dl>
    <dt>Include Data Count:</dt>
    <% @summaries.each do |sum| %>
    <dd><%= sum.data_type %>: <%= sum.count %></dd>
    <% end %>
  </dl>
<% end %>
</section>

<section id="search">
  <%= form_for(@records, :url => {:controller => 'statistics_records', :action => 'index.json'}, :html => {:class => 'search_statistics_record', :id => 'search_statistics_record'}, :remote => true) do |f| %>
  <label>Keyword: <%= f.text_field :start_addr, :title => 'キーワードはIPv4、ASNコード、カントリーコード(ISO3166-1 alpha-2)を入力可能です。<br />複数のキーワードをカンマ区切りで複数入力できます。'%></label>
  [<a id="select_country" href="javascript:void(0);" title="カントリーコードの選択画面を開く">Country</a>]
  <%= f.submit "Search" %>
  <input type="reset" id="search_reset" name="search_reset" value="Reset" />
  <% end %>

  <div id="country_dialog">
    <dl id="type_select">
      <dt>アドレスタイプ:</dt>
      <dd>
        <label><input type="checkbox" value="asn" name="addr_type" />ASN</label>
        <label><input type="checkbox" value="ipv4" name="addr_type" />IPv4</label>
        <label><input type="checkbox" value="ipv6" name="addr_type" />IPv6</label>
      </dd>
    </dl>
    <table>
      <tbody>
        <% @countries.each do |country| %>
        <tr>
          <td>
            <input type="button" value="ADD" name="country_add" />
            <input type="hidden" value="<%= country.alpha2 %>" />
          </td>
          <td><img alt="" src="/assets/flags/shiny/16/<%= country.flag_filename %>.png" /></td>
          <td name="country_code"><%= country.alpha2 %></td>
          <td><%= country.country_name %>(<%= country.country_name_ja %>)</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</section>

<section id="data">
</section>

<section id="ref">
  <dl>
    <dt>Original Data Links:</dt>
    <dd><a href="http://www.iana.org/" title="Internet Assigned Numbers Authority" target="_blank">IANA</a></dd>
    <dd><a href="https://www.arin.net/" title="American Registry for Internet Numbers" target="_blank">ARIN</a></dd>
    <dd><a href="http://www.ripe.net/" title="RIPE Network Coordination Centre" target="_blank">RIPE NCC</a></dd>
    <dd><a href="http://www.apnic.net/" title="Asia-Pacific Network Information Centre " target="_blank">APNIC</a></dd>
    <dd><a href="http://www.lacnic.net/" title="Latin American and Caribbean Internet Address Registry" target="_blank">LACNIC</a></dd>
    <dd><a href="http://www.afrinic.net/" title="African Network Information Centre" target="_blank">AfriNIC</a></dd>
  </dl>
</section>
