<%= form_for(@apnic_summary) do |f| %>
  <% if @apnic_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apnic_summary.errors.count, "error") %> prohibited this apnic_summary from being saved:</h2>

      <ul>
      <% @apnic_summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registry %><br />
    <%= f.text_field :registry %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
