<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>Statistics on Internet Resource Distribution</title>
  <meta name="robots" content="nofollow" />
  <meta name="keywords" content="IP Address,IPアドレス,IPv4,IPv6,RIR,statistics,ISO 3166,JIS X 0304,Country Code,国コード,カントリーコード" />
  <meta name="description" content="IPアドレスやカントリーコードからRIRへの登録状況を確認できます。" />
  <%= favicon_link_tag %>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul id="nav">
    <li class="current"><a href="/">Home</a></li>
    <li><a id="about-show" href="javascript:void(0);">About</a></li>
    <li><a id="api-show" href="javascript:void(0);">API</a></li>
    <li><span class="navitem">Data Status</span>
      <ul>
        <% @registries.each do |reg| %>
        <li><span class="navitem"><%= reg.registry.upcase %></span>
          <ul>
            <li>
              <table>
                <tbody>
                  <tr><th>Version</th><td><%= reg.statistics_version.version %></td></tr>
                  <tr><th>Serial</th><td><%= reg.statistics_version.serial %></td></tr>
                  <tr><th>Update</th><td><%= reg.statistics_version.enddate %></td></tr>
                  <tr><th>Records</th><td><%= number_with_delimiter(reg.statistics_version.records, :delimiter => ',', :separator => '.') %></td></tr>
                  <% reg.statistics_summary.each do |sum| %>
                  <tr><th><%= sum.data_type %></th><td><%= number_with_delimiter(sum.count, :delimiter => ',', :separator => '.') %></td></tr>
                  <% end %>
                </tbody>
              </table>
            </li>
          </ul>
        </li>
        <% end %>
        </li>
      </ul>
    </li>
    <li><span class="navitem">Contact</span>
      <ul>
        <li><a href="https://twitter.com/VitSymty" title="twitter" target="_blank">twitter</a></li>
        <li><a href="https://www.facebook.com/yusuke.aiko" title="Facebook" target="_blank">Facebook</a></li>
      </ul>
    </li>
  </ul>

  <dl id="about" class="ui-widget-content ui-corner-all description">
    <dt>About:<dt>
    <dd>
      IPアドレスやカントリーコードからRegional Internet Registryへの登録状況を確認できます。<br />
      IPアドレスはIPv4及びIPv6の両方に対応しています。また、ASNコードでの検索も可能です。<br />
      カントリーコードはISO 3166-1 alpha-2にて検索可能です。<br />
      複数のキーワードで検索する場合は、カンマでそれぞれのキーワードを区切ってください。
    </dd>
    <dd><input type="button" id="about-close" value="Close" /></dd>
  </dl>
  <dl id="api" class="ui-widget-content ui-corner-all description">
    <dt>API:</dt>
    <dd>
      検索結果を取得するためのAPIを提供しています。<br />
      <br />
      GET: http://sird.xay.jp/statistics_records.json?start_addr=<i>KEYWORD</i><br />
      Return: JSON形式データ<br />
      <br />
      <table>
        <caption>JSONフォーマット</caption>
        <theader><tr><th>項目名</th><th>データ</th></tr></theader>
        <tbody>
          <tr><th>cc</th><td>カントリーコード(ISO 3166-1 alpha-2)</td></tr>
          <tr><th>date</th><td>登録日</td></tr>
          <tr><th>registry</th><td>レジストラ(ARIN | RIPE NCC | APNIC | LACNIC | AfriNIC)</td></tr>
          <tr><th>start_addr</th><td>開始アドレス</td></tr>
          <tr><th>end_addr</th><td>終了アドレス</td></tr>
          <tr><th>prefix</th><td>CIDR表現でのプレフィクス</td></tr>
          <tr><th>value</th><td>アドレス数</td></tr>
          <tr><th>data_type</th><td>アドレスの種類(asn | ipv4 | ipv6)</td></tr>
          <tr><th>status</th><td>払い出しステータス</td></tr>
          <tr><th>area</th><td>地域</td></tr>
          <tr><th>country</th><td>国名</td></tr>
          <tr><th>country_ja</th><td>国名(日本語)</td></tr>
          <tr><th>flag_filename</th><td>旗アイコンファイル名</td></tr>
          <tr><th>input_value</th><td>入力したキーワード</td></tr>
        </tbody>
      </table>
    </dd>
    <dd><input type="button" id="api-close" value="Close" /></dd>
  </dl>
</nav>

<header>
  <h1>Statistics on Internet Resource Distribution</h1>
</header>

<section id="ads">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6399662930969394";
/* default@sird.xay.jp */
google_ad_slot = "5341249934";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</section>

<%= yield %>

<div id="pagetop">^Page Top</div>

<section id="sns">
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://sird.xay.jp/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
<!-- /Facebook -->

<!-- Google+ -->
<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium"></div>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- /Google+ -->

<!-- Hatena Bookmark -->
<a href="http://b.hatena.ne.jp/entry/http://sird.xay.jp/" class="hatena-bookmark-button" data-hatena-bookmark-title="Statistics on Internet Resource Distribution" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<!-- /Hatena Bookmark -->

<!-- Twitter -->
  <a href="https://twitter.com/VitSymty" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @VitSymty</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- /Twitter -->
</section>

<footer>
  &copy;&nbsp;<%= Time.now.year %>&nbsp;
  <a href="https://twitter.com/VitSymty" title="管理者のつぶやき" target="_blank">VitSymty@twitter</a>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  var pluginUrl =
   '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-28643524-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
